body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:418px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4283 {
  position:absolute;
  left:46px;
  top:25px;
  width:722px;
  height:418px;
}
#u4284 {
  position:absolute;
  left:10px;
  top:10px;
  width:702px;
  word-wrap:break-word;
}
#u4285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4285 {
  position:absolute;
  left:101px;
  top:115px;
  width:104px;
  height:53px;
}
#u4286 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4287 {
  position:absolute;
  left:299px;
  top:115px;
  width:104px;
  height:53px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u4289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4289 {
  position:absolute;
  left:492px;
  top:115px;
  width:104px;
  height:53px;
}
#u4290 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u4291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4291 {
  position:absolute;
  left:200px;
  top:240px;
  width:104px;
  height:53px;
}
#u4292 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u4293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4293 {
  position:absolute;
  left:414px;
  top:240px;
  width:104px;
  height:53px;
}
#u4294 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u4295 {
  position:absolute;
  left:205px;
  top:142px;
  width:0px;
  height:0px;
}
#u4295_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u4295_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4296 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4297 {
  position:absolute;
  left:403px;
  top:142px;
  width:0px;
  height:0px;
}
#u4297_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u4297_seg1 {
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4298 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299 {
  position:absolute;
  left:153px;
  top:168px;
  width:0px;
  height:0px;
}
#u4299_seg0 {
  position:absolute;
  left:-17px;
  top:32px;
  width:95px;
  height:8px;
  -webkit-transform:rotate(-130.732106699709deg);
  -moz-transform:rotate(-130.732106699709deg);
  -ms-transform:rotate(-130.732106699709deg);
  transform:rotate(-130.732106699709deg);
}
#u4300 {
  position:absolute;
  left:-19px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4301 {
  position:absolute;
  left:275px;
  top:239px;
  width:0px;
  height:0px;
}
#u4301_seg0 {
  position:absolute;
  left:-19px;
  top:-41px;
  width:90px;
  height:8px;
  -webkit-transform:rotate(125.095816787026deg);
  -moz-transform:rotate(125.095816787026deg);
  -ms-transform:rotate(125.095816787026deg);
  transform:rotate(125.095816787026deg);
}
#u4302 {
  position:absolute;
  left:-24px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4303 {
  position:absolute;
  left:351px;
  top:168px;
  width:0px;
  height:0px;
}
#u4303_seg0 {
  position:absolute;
  left:-13px;
  top:32px;
  width:117px;
  height:8px;
  -webkit-transform:rotate(-141.568764121821deg);
  -moz-transform:rotate(-141.568764121821deg);
  -ms-transform:rotate(-141.568764121821deg);
  transform:rotate(-141.568764121821deg);
}
#u4304 {
  position:absolute;
  left:-4px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4305 {
  position:absolute;
  left:488px;
  top:243px;
  width:0px;
  height:0px;
}
#u4305_seg0 {
  position:absolute;
  left:-23px;
  top:-43px;
  width:90px;
  height:8px;
  -webkit-transform:rotate(119.981639368849deg);
  -moz-transform:rotate(119.981639368849deg);
  -ms-transform:rotate(119.981639368849deg);
  transform:rotate(119.981639368849deg);
}
#u4306 {
  position:absolute;
  left:-27px;
  top:-47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
