body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:2px;
}
#u2945 {
  position:absolute;
  left:16px;
  top:62px;
  width:830px;
  height:1px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u2946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u2947 {
  position:absolute;
  left:16px;
  top:14px;
  width:433px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u2948 {
  position:absolute;
  left:32px;
  top:16px;
  width:401px;
  word-wrap:break-word;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:429px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2949 {
  position:absolute;
  left:45px;
  top:92px;
  width:671px;
  height:429px;
}
#u2950 {
  position:absolute;
  left:10px;
  top:10px;
  width:651px;
  word-wrap:break-word;
}
