body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:685px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:30px;
  top:23px;
  width:1040px;
  height:685px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:334px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:48px;
  top:71px;
  width:1003px;
  height:615px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:300px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1383 {
  position:absolute;
  left:55px;
  top:23px;
  width:433px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1384 {
  position:absolute;
  left:32px;
  top:16px;
  width:401px;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u1385 {
  position:absolute;
  left:107px;
  top:87px;
  width:56px;
  height:17px;
  color:#0066FF;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1389 {
  position:absolute;
  left:70px;
  top:114px;
  width:955px;
  height:1px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1390 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u1391 {
  position:absolute;
  left:99px;
  top:114px;
  width:74px;
  height:1px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1394 {
  position:absolute;
  left:202px;
  top:128px;
  width:267px;
  height:29px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1395 {
  position:absolute;
  left:12px;
  top:4px;
  width:247px;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1396 {
  position:absolute;
  left:118px;
  top:128px;
  width:78px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1397 {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  white-space:nowrap;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u1399 {
  position:absolute;
  left:377px;
  top:155px;
  width:14px;
  height:7px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1400 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:387px;
  top:155px;
  width:5px;
  height:8px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  word-wrap:break-word;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1404 {
  position:absolute;
  left:567px;
  top:128px;
  width:78px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1406 {
  position:absolute;
  left:665px;
  top:131px;
  width:277px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1407 {
  position:absolute;
  left:8px;
  top:5px;
  width:269px;
  word-wrap:break-word;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1409 {
  position:absolute;
  left:117px;
  top:173px;
  width:78px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  white-space:nowrap;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1411 {
  position:absolute;
  left:201px;
  top:176px;
  width:268px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1412 {
  position:absolute;
  left:8px;
  top:5px;
  width:260px;
  word-wrap:break-word;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1414 {
  position:absolute;
  left:593px;
  top:173px;
  width:51px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1416 {
  position:absolute;
  left:665px;
  top:176px;
  width:277px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1417 {
  position:absolute;
  left:8px;
  top:5px;
  width:269px;
  word-wrap:break-word;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:54px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1421 {
  position:absolute;
  left:99px;
  top:417px;
  width:914px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1422 {
  position:absolute;
  left:16px;
  top:19px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1423 {
  position:absolute;
  left:99px;
  top:470px;
  width:914px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1424 {
  position:absolute;
  left:16px;
  top:19px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1425 {
  position:absolute;
  left:99px;
  top:523px;
  width:914px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1426 {
  position:absolute;
  left:16px;
  top:19px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u1428 {
  position:absolute;
  left:149px;
  top:439px;
  width:7px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  line-height:18px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1430 {
  position:absolute;
  left:99px;
  top:416px;
  width:89px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1431 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1432 {
  position:absolute;
  left:99px;
  top:470px;
  width:89px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1433 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1435 {
  position:absolute;
  left:897px;
  top:417px;
  width:61px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u1436 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:53px;
}
#u1437 {
  position:absolute;
  left:860px;
  top:471px;
  width:136px;
  height:106px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:53px;
}
#u1438 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1440 {
  position:absolute;
  left:231px;
  top:416px;
  width:89px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1441 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1442 {
  position:absolute;
  left:192px;
  top:471px;
  width:168px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1443 {
  position:absolute;
  left:16px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u1444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1445 {
  position:absolute;
  left:609px;
  top:417px;
  width:117px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1446 {
  position:absolute;
  left:16px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1447 {
  position:absolute;
  left:616px;
  top:472px;
  width:104px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1448 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u1450 {
  position:absolute;
  left:765px;
  top:417px;
  width:61px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u1451 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1452 {
  position:absolute;
  left:743px;
  top:472px;
  width:104px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1453 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u1455 {
  position:absolute;
  left:370px;
  top:416px;
  width:61px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:53px;
}
#u1456 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1457 {
  position:absolute;
  left:370px;
  top:471px;
  width:61px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:53px;
}
#u1458 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1460 {
  position:absolute;
  left:473px;
  top:417px;
  width:117px;
  height:54px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:53px;
}
#u1461 {
  position:absolute;
  left:16px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1462 {
  position:absolute;
  left:480px;
  top:472px;
  width:104px;
  height:107px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u1463 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1465 {
  position:absolute;
  left:705px;
  top:608px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1466 {
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1467 {
  position:absolute;
  left:729px;
  top:608px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1469 {
  position:absolute;
  left:753px;
  top:608px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1470 {
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1471 {
  position:absolute;
  left:777px;
  top:608px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1472 {
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u1473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1473 {
  position:absolute;
  left:1021px;
  top:608px;
  width:15px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1474 {
  position:absolute;
  left:0px;
  top:-2px;
  width:15px;
  white-space:nowrap;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1475 {
  position:absolute;
  left:966px;
  top:604px;
  width:47px;
  height:26px;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1476 {
  position:absolute;
  left:12px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1477 {
  position:absolute;
  left:929px;
  top:608px;
  width:29px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1478 {
  position:absolute;
  left:0px;
  top:-2px;
  width:29px;
  white-space:nowrap;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1479 {
  position:absolute;
  left:673px;
  top:606px;
  width:22px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1481 {
  position:absolute;
  left:655px;
  top:612px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u1482 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1483 {
  position:absolute;
  left:801px;
  top:612px;
  width:10px;
  height:10px;
  opacity:0.400000005960464;
}
#u1484 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1486 {
  position:absolute;
  left:827px;
  top:604px;
  width:86px;
  height:26px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1487 {
  position:absolute;
  left:8px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1488 {
  position:absolute;
  left:894px;
  top:612px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
}
#u1489 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u1491 {
  position:absolute;
  left:817px;
  top:304px;
  width:73px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u1492 {
  position:absolute;
  left:16px;
  top:5px;
  width:41px;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1493 {
  position:absolute;
  left:906px;
  top:304px;
  width:68px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1494 {
  position:absolute;
  left:16px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u1495 {
  position:absolute;
  left:906px;
  top:367px;
  width:77px;
  height:32px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u1496 {
  position:absolute;
  left:16px;
  top:5px;
  width:45px;
  word-wrap:break-word;
}
#u1497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1498 {
  position:absolute;
  left:149px;
  top:222px;
  width:43px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1499 {
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1500 {
  position:absolute;
  left:203px;
  top:225px;
  width:739px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1501 {
  position:absolute;
  left:8px;
  top:5px;
  width:731px;
  word-wrap:break-word;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1504_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:958px;
  height:5px;
}
#u1504 {
  position:absolute;
  left:83px;
  top:353px;
  width:955px;
  height:2px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
}
#u1505 {
  position:absolute;
  left:2px;
  top:-7px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1506 {
  position:absolute;
  left:109px;
  top:379px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1507 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u1508 {
  position:absolute;
  left:883px;
  top:477px;
  width:99px;
  height:41px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u1510 {
  position:absolute;
  left:883px;
  top:528px;
  width:99px;
  height:41px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u1512 {
  position:absolute;
  left:1080px;
  top:492px;
  width:236px;
  height:68px;
  font-size:14px;
}
#u1513 {
  position:absolute;
  left:10px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
