body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1721 {
  position:absolute;
  left:84px;
  top:169px;
  width:71px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1722 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1723 {
  position:absolute;
  left:156px;
  top:172px;
  width:316px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1724 {
  position:absolute;
  left:8px;
  top:5px;
  width:308px;
  word-wrap:break-word;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1726 {
  position:absolute;
  left:88px;
  top:226px;
  width:58px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1727 {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  white-space:nowrap;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1728 {
  position:absolute;
  left:156px;
  top:223px;
  width:318px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1729 {
  position:absolute;
  left:8px;
  top:5px;
  width:310px;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:484px;
  top:223px;
  width:77px;
  height:32px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u1732 {
  position:absolute;
  left:23px;
  top:72px;
  width:433px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u1733 {
  position:absolute;
  left:32px;
  top:16px;
  width:401px;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1734 {
  position:absolute;
  left:583px;
  top:172px;
  width:293px;
  height:53px;
  text-align:left;
}
#u1735 {
  position:absolute;
  left:2px;
  top:18px;
  width:289px;
  word-wrap:break-word;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1737 {
  position:absolute;
  left:75px;
  top:284px;
  width:71px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u1738 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u1739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1739 {
  position:absolute;
  left:156px;
  top:281px;
  width:318px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u1740 {
  position:absolute;
  left:8px;
  top:5px;
  width:310px;
  word-wrap:break-word;
}
