body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:22px;
}
#u45 {
  position:absolute;
  left:30px;
  top:11px;
  width:616px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:22px;
}
#u46 {
  position:absolute;
  left:8px;
  top:4px;
  width:608px;
  word-wrap:break-word;
}
